body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

h2 {
  font-size: clamp (0.75rem, 2.375vw, 2.375rem);
  line-height: 3rem;
  font-weight: bolder;
}

p {
  font-size: 1.25rem;
}

@mixin buttonProperty {
  outline: none;
  border: none;
  font-size: 18px;
  line-height: 1.375rem;
  color: #fff;
}

button {
  @include buttonProperty;
  background-color: #7423c6;
  &:hover {
    background-color: #5f2697;
  }
}

.nav-button {
  @include buttonProperty();
  background-color: #f13a9e;
  &:hover {
    background-color: #d40b7a;
  }
}

.left-arrow {
  position: absolute;
  left: 0px;
}

.right-arrow {
  position: absolute;
  right: 0px;
}

.all-bg {
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  padding-top: 180px;
  h1 {
    font-size: clamp(2.125rem, 4.125vw, 4.125rem);
  }  
  .illustrator {
    height: 670px;
    position: relative;
  }
}

.ads {
  position: relative;
  p {
    font-size: 1.75rem;
    color: #fff;
    margin-top: 20px;
  }
  .categories div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    margin-bottom: 100px;
  }
}
