body {
    font-family: 'Roboto', sans-serif;
}

.hero-bg {
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 180px;
    height: auto;
}

.people {
    position: relative;
    top: -30px;
}

.hero-text {
    h1 {
        font-size: 4.125rem;
        line-height: 80px;
    }
    p {
        font-size: 1.5rem;
        line-height: 34px;
        color: #fff\`;
    }
}

button {
    background-color: #7423C6;    
    outline: none;
    border: none;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    &:hover {
        background-color: #5f2697;
    }
}

.leftFade-animation {
    animation: fadeInRight 3s ease-in-out;
}

@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(300px);
    }
    to {
      opacity: 1;
    }
  }
